@font-face {
  font-family: 'BPGBannerCaps';
  src: url('../fonts/BPGBannerCaps.eot?#iefix') format('embedded-opentype'),  url('../fonts/BPGBannerCaps.woff') 
  format('woff'), url('../fonts/BPGBannerCaps.ttf')  format('truetype'), url('../fonts/BPGBannerCaps.svg#BPGBannerCaps') format('svg');
  font-weight: normal;
  font-style: normal;
}


