.carousel-indicators {
  bottom: 120px !important;
}
.carousel-indicators li {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  border: 2px solid #fff !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
.carousel-indicators .active {
  background-color: #fff !important;
}